
####################### reset, clocks #######################

NET   "SYS_CLK_100M_P"           LOC = "AB27"       |   IOSTANDARD = LVDS_25;
NET   "SYS_CLK_100M_N"           LOC = "AC27"       |   IOSTANDARD = LVDS_25;
NET   "FPGA_RST_N"               LOC = "AD27"       |   IOSTANDARD = LVCMOS25;

NET "w_CLK_100M" TNM_NET = clk_bufg_100m;
TIMESPEC "TS_clk_bufg_100m" = PERIOD "clk_bufg_100m" 10.0;

#NET "TOE_CLK_125M_P" TNM_NET = "clk_bufg_125m";
#TIMESPEC "TS_clk_bufg_125m" = PERIOD "clk_bufg_125m" 8.0;
####################### GTX interface #######################

##NET "q0_clk1_refclk_i" TNM_NET = "q0_clk1_refclk_i";
##TIMESPEC "TS_q0_clk1_refclk_i" = PERIOD "q0_clk1_refclk_i" 5.0;

    
## DRP Clock Constraint
##NET "drpclk_in_i" TNM_NET = "drpclk_in_i";
##TIMESPEC "TS_drpclk_in_i" = PERIOD "drpclk_in_i" 10.0;
# 
## User Clock Constraints
##NET "gt0_txusrclk_i" TNM_NET = "gt0_txusrclk_i";
##TIMESPEC "TS_gt0_txusrclk_i" = PERIOD "gt0_txusrclk_i" 20.0;

#NET Q0_CLK1_GTREFCLK_PAD_N_IN  LOC=U7;

#NET Q0_CLK1_GTREFCLK_PAD_P_IN  LOC=U8;
#NET TRACK_DATA_OUT             LOC=AA30;

#INST */u1_gtwizard_v2_7_exdes/gtwizard_v2_7_init_i/gtwizard_v2_7_i/gt0_gtwizard_v2_7_i/gtxe2_i LOC=GTXE2_CHANNEL_X0Y0;

#INST */gtwizard_v2_7_i/gt0_gtwizard_v2_7_i/gtxe2_i LOC=GTXE2_CHANNEL_X0Y0;




##---------- Set placement for gt0_gtx_wrapper_i/GTXE2_CHANNEL ------
#INST *gtwizard_v2_7_init_i/gtwizard_v2_7_i/gt0_gtwizard_v2_7_i/gtxe2_i LOC=GTXE2_CHANNEL_X0Y0;

#NET   "FPGA_GTX115_0P"           LOC = "R8";         
#NET   "FPGA_GTX115_0N"           LOC = "R7";         
#NET   "FPGA_GTX115_1P"           LOC = "U7";         
#NET   "FPGA_GTX115_1N"           LOC = "U8";         

#NET   "MGTX1_TX_P"               LOC = "Y2";         
#NET   "MGTX1_TX_N"               LOC = "Y1";         
#NET   "MGTX1_RX_P"               LOC = "AA4";        
#NET   "MGTX1_RX_N"               LOC = "AA3";        

#NET   "FPGA_GTX118_0P"           LOC = "C8";         
#NET   "FPGA_GTX118_0N"           LOC = "C7";         
#NET   "FPGA_GTX118_1P"           LOC = "E7";         
#NET   "FPGA_GTX118_1N"           LOC = "E8";        

#NET   "MGTX0_TX_P"               LOC = "D2";         
#NET   "MGTX0_TX_N"               LOC = "D1";         
#NET   "MGTX0_RX_P"               LOC = "E4";        
#NET   "MGTX0_RX_N"               LOC = "E3";         




####################### SYNC  interface #######################

NET   "FPGA_LVDS_0_P"            LOC = "AF26"       |   IOSTANDARD = LVDS_25;
NET   "FPGA_LVDS_0_N"            LOC = "AF27"       |   IOSTANDARD = LVDS_25;
NET   "FPGA_LVDS_1_P"            LOC = "AJ26"       |   IOSTANDARD = LVDS_25;
NET   "FPGA_LVDS_1_N"            LOC = "AK26"       |   IOSTANDARD = LVDS_25;

####################### TOE #######################

NET   "TOE_CLK_125M_P"           LOC = "AG29"       |   IOSTANDARD = LVDS_25;
NET   "TOE_CLK_125M_N"           LOC = "AH29"       |   IOSTANDARD = LVDS_25;
NET   "TOE_HS0_CLK"              LOC = "AF22"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_HS0_INTn"             LOC = "AJ22"       |   IOSTANDARD = LVCMOS33;

NET   "TOE_Q[0]"                 LOC = "AK25"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_Q[1]"                 LOC = "AJ24"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_Q[2]"                 LOC = "AK24"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_Q[3]"                 LOC = "Y23"        |   IOSTANDARD = LVCMOS33;
NET   "TOE_Q[4]"                 LOC = "AA21"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_Q[5]"                 LOC = "AH24"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_Q[6]"                 LOC = "AH25"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_Q[7]"                 LOC = "AK23"       |   IOSTANDARD = LVCMOS33;

NET   "TOE_D[0]"                 LOC = "AA23"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_D[1]"                 LOC = "AF23"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_D[2]"                 LOC = "AF20"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_D[3]"                 LOC = "AH22"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_D[4]"                 LOC = "AC20"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_D[5]"                 LOC = "AE24"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_D[6]"                 LOC = "AE25"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_D[7]"                 LOC = "AG22"       |   IOSTANDARD = LVCMOS33;

NET   "TOE_TC[0]"                LOC = "Y21"        |   IOSTANDARD = LVCMOS33;
NET   "TOE_TC[1]"                LOC = "AF25"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_TC[2]"                LOC = "Y24"        |   IOSTANDARD = LVCMOS33;

NET   "TOE_RC[0]"                LOC = "AC25"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_RC[1]"                LOC = "AC24"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_RC[2]"                LOC = "AB22"       |   IOSTANDARD = LVCMOS33;

NET   "TOE_nTX"                  LOC = "AE23"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nRX"                  LOC = "AD21"       |   IOSTANDARD = LVCMOS33;

NET   "TOE_nTF[0]"               LOC = "AB24"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nTF[1]"               LOC = "AC21"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nTF[2]"               LOC = "AD24"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nTF[3]"               LOC = "AG24"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nTF[4]"               LOC = "AG25"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nTF[5]"               LOC = "AC22"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nTF[6]"               LOC = "AB23"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nTF[7]"               LOC = "AA20"       |   IOSTANDARD = LVCMOS33;

NET   "TOE_nRF[0]"               LOC = "AF21"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nRF[1]"               LOC = "AE21"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nRF[2]"               LOC = "AB20"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nRF[3]"               LOC = "AD23"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nRF[4]"               LOC = "Y20"        |   IOSTANDARD = LVCMOS33;
NET   "TOE_nRF[5]"               LOC = "AD22"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nRF[6]"               LOC = "AG23"       |   IOSTANDARD = LVCMOS33;
NET   "TOE_nRF[7]"               LOC = "AA22"       |   IOSTANDARD = LVCMOS33;

#NET   "TOE_HS0_CTS_SCSn"         LOC = "AJ23"       |   IOSTANDARD = LVCMOS33;
#NET   "TOE_HS0_RTS_SSCK"         LOC = "AH21"       |   IOSTANDARD = LVCMOS33;
#NET   "TOE_HS0_TXD_SMOSI"        LOC = "AH20"       |   IOSTANDARD = LVCMOS33;
#NET   "TOE_HS0_RXD_SMISO"        LOC = "AG20"       |   IOSTANDARD = LVCMOS33;

####################### flash constraints #######################

NET   "FPGA_A[0]"                LOC = "P21"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[1]"                LOC = "P22"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[2]"                LOC = "N20"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[3]"                LOC = "P19"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[4]"                LOC = "N19"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[5]"                LOC = "N22"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[6]"                LOC = "M20"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[7]"                LOC = "M23"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[8]"                LOC = "M22"        |   IOSTANDARD = LVCMOS25;

NET   "FPGA_A[9]"                LOC = "N21"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[10]"               LOC = "M19"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[11]"               LOC = "L22"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[12]"               LOC = "K25"        |   IOSTANDARD = LVCMOS25;

NET   "FPGA_A[13]"               LOC = "K26"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[14]"               LOC = "L28"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[15]"               LOC = "J21"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[16]"               LOC = "K21"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[17]"               LOC = "J24"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[18]"               LOC = "K24"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[19]"               LOC = "J22"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[20]"               LOC = "L21"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[21]"               LOC = "J23"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[22]"               LOC = "N26"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[23]"               LOC = "L25"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[24]"               LOC = "L23"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_A[25]"               LOC = "K23"        |   IOSTANDARD = LVCMOS25;


NET   "FPGA_D[0]"                LOC = "N27"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[1]"                LOC = "N29"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[2]"                LOC = "M25"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[3]"                LOC = "M30"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[4]"                LOC = "K29"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[5]"                LOC = "L26"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[6]"                LOC = "M24"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[7]"                LOC = "P23"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[8]"                LOC = "M27"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[9]"                LOC = "M28"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[10]"               LOC = "N30"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[11]"               LOC = "L27"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[12]"               LOC = "K30"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[13]"               LOC = "M29"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[14]"               LOC = "J28"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_D[15]"               LOC = "J29"        |   IOSTANDARD = LVCMOS25;

NET   "FPGA_FOE_N"               LOC = "H29"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_FCS"                 LOC = "L20"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_FWE_N"               LOC = "J27"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_ADV_B"               LOC = "N24"        |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_FPE_N"              LOC = "AC26"       |   IOSTANDARD = LVCMOS25;
NET   "FPGA_WAIT"                LOC = "J26"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_CCLK_1"              LOC = "K28"        |   IOSTANDARD = LVCMOS25;
NET   "FPGA_INIT_B_1"            LOC = "L30"        |   IOSTANDARD = LVCMOS25;

####################### SRAM #######################

NET   "SBRAM_CLK"                 LOC = "T26"       |   IOSTANDARD = LVCMOS33;

NET   "SBRAM_nADSP"               LOC = "R28"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nADSC"               LOC = "R30"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nADV"                LOC = "T30"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nGW"                 LOC = "P26"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nBWE"                LOC = "U25"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nBWA"                LOC = "A15"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nBWB"                LOC = "F16"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nBWC"                LOC = "B19"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nBWD"                LOC = "R24"       |   IOSTANDARD = LVCMOS33;

NET   "SBRAM_nCE1[0]"             LOC = "C16"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nCE1[1]"             LOC = "G23"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nCE1[2]"             LOC = "B22"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nCE1[3]"             LOC = "F15"       |   IOSTANDARD = LVCMOS33;

NET   "SBRAM_CE2[0]"              LOC = "G25"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nCE2[0]"             LOC = "G30"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_CE2[1]"              LOC = "F23"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nCE2[1]"             LOC = "D26"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_CE2[2]"              LOC = "C19"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nCE2[2]"             LOC = "A22"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_CE2[3]"              LOC = "E16"       |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_nCE2[3]"             LOC = "G15"       |   IOSTANDARD = LVCMOS33;

NET   "SBRAM_nOE"                 LOC = "R26"       |   IOSTANDARD = LVCMOS33;


NET   "SBRAM_A[0]"            LOC = "U29"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[1]"            LOC = "U30"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[2]"            LOC = "V26"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[3]"            LOC = "V27"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[4]"            LOC = "V29"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[5]"            LOC = "V30"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[6]"            LOC = "V25"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[7]"            LOC = "W26"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[8]"            LOC = "V19"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[9]"            LOC = "V20"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[10]"           LOC = "W23"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[11]"           LOC = "W24"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[12]"           LOC = "U22"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[13]"           LOC = "U23"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[14]"           LOC = "V21"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[15]"           LOC = "V22"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[16]"           LOC = "U24"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[17]"           LOC = "V24"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[18]"           LOC = "W21"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[19]"           LOC = "W22"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_A[20]"           LOC = "W19"           |   IOSTANDARD = LVCMOS33;

NET   "SBRAM_DQ[0]"           LOC = "H21"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[1]"           LOC = "F21"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[2]"           LOC = "H22"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[3]"           LOC = "J18"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[4]"           LOC = "G22"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[5]"           LOC = "J19"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[6]"           LOC = "F22"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[7]"           LOC = "K19"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[8]"           LOC = "G18"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[9]"           LOC = "G17"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[10]"          LOC = "H19"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[11]"          LOC = "F18"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[12]"          LOC = "G19"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[13]"          LOC = "H20"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[14]"          LOC = "G20"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[15]"          LOC = "F20"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[16]"          LOC = "B17"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[17]"          LOC = "H17"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[18]"          LOC = "D17"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[19]"          LOC = "C17"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[20]"          LOC = "E18"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[21]"          LOC = "D18"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[22]"          LOC = "D19"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[23]"          LOC = "L18"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[24]"          LOC = "K18"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[25]"          LOC = "L17"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[26]"          LOC = "C22"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[27]"          LOC = "D22"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[28]"          LOC = "D21"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[29]"          LOC = "E21"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[30]"          LOC = "E20"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[31]"          LOC = "C21"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[32]"          LOC = "B30"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[33]"          LOC = "C30"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[34]"          LOC = "C29"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[35]"          LOC = "D29"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[36]"          LOC = "E29"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[37]"          LOC = "E28"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[38]"          LOC = "H26"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[39]"          LOC = "H27"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[40]"          LOC = "A26"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[41]"          LOC = "D27"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[42]"          LOC = "C27"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[43]"          LOC = "A27"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[44]"          LOC = "B27"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[45]"          LOC = "B28"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[46]"          LOC = "D28"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[47]"          LOC = "B29"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[48]"          LOC = "D23"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[49]"          LOC = "A23"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[50]"          LOC = "B23"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[51]"          LOC = "C24"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[52]"          LOC = "B24"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[53]"          LOC = "D24"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[54]"          LOC = "A25"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[55]"          LOC = "B25"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[56]"          LOC = "C25"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[57]"          LOC = "E24"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[58]"          LOC = "G24"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[59]"          LOC = "E26"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[60]"          LOC = "E25"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[61]"          LOC = "A30"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[62]"          LOC = "F25"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[63]"          LOC = "F26"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[64]"          LOC = "J16"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[65]"          LOC = "H16"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[66]"          LOC = "L16"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[67]"          LOC = "K16"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[68]"          LOC = "K15"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[69]"          LOC = "H15"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[70]"          LOC = "H14"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[71]"          LOC = "G14"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[72]"          LOC = "A13"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[73]"          LOC = "B13"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[74]"          LOC = "D12"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[75]"          LOC = "B14"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[76]"          LOC = "C12"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[77]"          LOC = "B12"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[78]"          LOC = "A12"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[79]"          LOC = "C11"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[80]"          LOC = "K14"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[81]"          LOC = "L15"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[82]"          LOC = "J13"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[83]"          LOC = "H12"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[84]"          LOC = "L12"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[85]"          LOC = "J12"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[86]"          LOC = "L13"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[87]"          LOC = "K13"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[88]"          LOC = "L11"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[89]"          LOC = "D11"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[90]"          LOC = "G12"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[91]"          LOC = "K11"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[92]"          LOC = "H11"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[93]"          LOC = "E11"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[94]"          LOC = "F12"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[95]"          LOC = "J11"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[96]"          LOC = "C20"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[97]"          LOC = "A21"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[98]"          LOC = "A16"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[99]"          LOC = "B20"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[100]"         LOC = "A18"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[101]"         LOC = "A20"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[102]"         LOC = "A17"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[103]"         LOC = "B18"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[104]"         LOC = "F30"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[105]"         LOC = "G29"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[106]"         LOC = "F28"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[107]"         LOC = "F27"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[108]"         LOC = "G28"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[109]"         LOC = "G27"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[110]"         LOC = "H25"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[111]"         LOC = "H24"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[112]"         LOC = "D13"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[113]"         LOC = "F13"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[114]"         LOC = "D14"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[115]"         LOC = "E15"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[116]"         LOC = "C15"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[117]"         LOC = "E14"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[118]"         LOC = "B15"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[119]"         LOC = "E13"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[120]"         LOC = "T27"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[121]"         LOC = "U27"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[122]"         LOC = "U28"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[123]"         LOC = "T25"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[124]"         LOC = "U20"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[125]"         LOC = "P29"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[126]"         LOC = "R29"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQ[127]"         LOC = "P27"           |   IOSTANDARD = LVCMOS33;

NET   "SBRAM_DQP[0]"          LOC = "K20"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[1]"          LOC = "D16"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[2]"          LOC = "J17"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[3]"          LOC = "E19"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[4]"          LOC = "H30"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[5]"          LOC = "C26"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[6]"          LOC = "E23"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[7]"          LOC = "A28"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[8]"          LOC = "G13"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[9]"          LOC = "A11"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[10]"         LOC = "J14"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[11]"         LOC = "F11"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[12]"         LOC = "F17"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[13]"         LOC = "E30"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[14]"         LOC = "C14"           |   IOSTANDARD = LVCMOS33;
NET   "SBRAM_DQP[15]"         LOC = "T28"           |   IOSTANDARD = LVCMOS33;

####################### TEST AND LED indacate #######################

#NET   "LED[1]"                LOC = "AA30"          |   IOSTANDARD = LVCMOS25;
#NET   "LED[2]"                LOC = "AD29"          |   IOSTANDARD = LVCMOS25;
#NET   "LED[3]"                LOC = "AE29"          |   IOSTANDARD = LVCMOS25;
#NET   "LED[4]"                LOC = "AB29"          |   IOSTANDARD = LVCMOS25;

#NET   "FPGA_LED[0]"           LOC = "Y25"           |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_LED[1]"           LOC = "Y26"           |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_LED[2]"           LOC = "AA26"          |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_LED[3]"           LOC = "W27"           |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_LED[4]"           LOC = "W28"           |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_LED[5]"           LOC = "Y28"           |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_LED[6]"           LOC = "AA28"          |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_LED[7]"           LOC = "W29"           |   IOSTANDARD = LVCMOS25;

#NET   "FPGA_GPIO[0]"          LOC = "Y29"           |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_GPIO[1]"          LOC = "AA27"          |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_GPIO[2]"          LOC = "AB28"          |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_GPIO[3]"          LOC = "AA25"          |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_GPIO[4]"          LOC = "AB25"          |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_GPIO[5]"          LOC = "AC29"          |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_GPIO[6]"          LOC = "AC30"          |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_GPIO[7]"          LOC = "Y30"           |   IOSTANDARD = LVCMOS25;

####################### TEST UART #######################

#NET   "FPGA_TXD"              LOC = "T20"           |   IOSTANDARD = LVCMOS33;
#NET   "FPGA_RTS"              LOC = "T21"           |   IOSTANDARD = LVCMOS33;
#NET   "FPGA_RXD"              LOC = "T22"           |   IOSTANDARD = LVCMOS33;
#NET   "FPGA_CTS"              LOC = "T23"           |   IOSTANDARD = LVCMOS33;


####################### TEST GTX interface #######################
#
#  input  wire               FPGA_GTX116_0P    ,//clock
#  input  wire               FPGA_GTX116_0N    ,
#  input  wire               FPGA_GTX116_1P    ,
#  input  wire               FPGA_GTX116_1N    ,

#  output wire               SATA_TXP0         ,
#  output wire               SATA_TXN0         ,
#  input wire                SATA_RXP0         ,
#  input wire                SATA_RXN0         ,

#  input  wire               FPGA_GTX117_0P    ,//clock
#  input  wire               FPGA_GTX117_0N    ,
#  input  wire               FPGA_GTX117_1P    ,
#  input  wire               FPGA_GTX117_1N    ,

#  output wire               SATA_TXP1         ,
#  output wire               SATA_TXN1         ,
#  input  wire               SATA_RXP1         ,
#  input  wire               SATA_RXN1         ,



####################### SPI flash #######################

#NET   "FPGA_CCLK"             LOC = "B10"           |   IOSTANDARD = LVCMOS25;
#NET   "FCS"                   LOC = "U19"           |   IOSTANDARD = LVCMOS33;
#NET   "D0[0]"                 LOC = "P24"           |   IOSTANDARD = LVCMOS33;
#NET   "D0[1]"                 LOC = "R25"           |   IOSTANDARD = LVCMOS33;
#NET   "D0[2]"                 LOC = "R20"           |   IOSTANDARD = LVCMOS33;
#NET   "D0[3]"                 LOC = "R21"           |   IOSTANDARD = LVCMOS33;

####################### config #######################

#NET   "FPGA_M[0]"             LOC = "AB5"           |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_M[1]"             LOC = "AB2"           |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_M[2]"             LOC = "AB1"           |   IOSTANDARD = LVCMOS25;
#NET   "FPGA_CONFIG_DONE"      LOC = "M10"           |   IOSTANDARD = LVCMOS25;